@{
    ViewBag.Title = "Home Page";
}
<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Home start -->
<section id="home" class="pfblock-image screen-height">
    <div class="home-overlay"></div>
    <div class="intro">
        <div class="container row text-center">
            <div class="row">
                <div class="span4"></div>
                <div class="span4"><img class="center-block img-circle" src="~/Images/KashifMubarak.jpg" /></div>
                <div class="span4"></div>
            </div>
        </div>
        <div class="start">Hello, This is Kashif Mubarak. I am a</div>
        <h1>Software Engineer</h1>
        <div class="start">building responsive Desktop, Web applications and services.</div>
    </div>
    <a href="#services">
        <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
</section>
<!-- Home end -->
<!-- Navigation start -->
<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Kashif Mubarak</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Works</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div><!-- .container -->
    </nav>
</header>
<!-- Navigation end -->
<!-- Services start -->
<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">This is what I do</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        With over 5 Years of experience in developing and maintaining a wide variety of systems for large international corporations and small businesses, I have worked with business experts,
                        designing technical and non-technical solutions to meet the needs of the business, crafting and implementing development processes and leading my teams to deliver enterprise-level softwares.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Web Design</h3>
                        <div class="iconbox-desc">
                            Designed highly interactive and user-friendly websites for both internal and external clients.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Web Programming</h3>
                        <div class="iconbox-desc">
                            Utilized various web technologies: Web Services, AJAX, Javascripts, jQuery.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-badge"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Database Programming</h3>
                        <div class="iconbox-desc">
                            Utilized both PL/SQL and T-SQL to build complex queries, procedures and triggers.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-question"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">SDLC Methodologies</h3>
                        <div class="iconbox-desc">
                            Worked in both Agile and Waterfall Software development methodologies.
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Services end -->
<!--Portfolio Start-->
<section id="portfolio" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">My Work</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Through my work, I have proved a track record of using good engineering practices to produce software for new, innovative and profitable products and solutions.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/Qorvo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jan 2015 - Present</h4>
                                <h4 class="subheading">QORVO - Richardson, TX</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Building new applications and as well as maintaining the legacy applications using latest .NET Technologies.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/TriQuint.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Oct 2013 - Dec 2014</h4>
                                <h4 class="subheading">TriQuint Semiconductor Inc. - Richardson, TX</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Maintained various Desktop and as well web applications for internal business customers.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/capitalone.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aug 2012 - Oct 2013</h4>
                                <h4 class="subheading">CapitalOne - Plano, TX</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Maintained various Desktop and as well web applications for internal business customers.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/bofa.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Mar 2012 - Aug 2012</h4>
                                <h4 class="subheading">Bank of America - Addison, TX</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Maintained various Desktop and as well web applications for internal business customers.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Images/eBay.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Nov 2011 - Mar 2012</h4>
                                <h4 class="subheading">eBay - Salt Lake City, UT</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Maintained various Desktop and as well web applications for internal business customers.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Email me
                                <br>for
                                <br>Resume!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!--Portfolio End-->
<!--Skills Start-->
<section id="skills" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">My Skills</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Nothing is impossible! Always eager to learn more and go extra mile. Sky is the limit. Some of my skills are:
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">C# / VB.NET</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Oracle / SQL Server</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">APT.NET / MVC</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Entity Framework</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row 1 End-->
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Windows Forms</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Windows Services</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">TFS / Visual Studio</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Agile / Waterfall</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Row 2 End-->
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">jQuery / Javascripts</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">PL/SQL / T-SQL</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">OOP / SDLC</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">HTML / CSS / AJAX</h3>
                        <div class="iconbox-desc">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:95%">
                                    <span class="my-centered">95% Expert</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Row 3 End-->
        <div class="row">
        </div><!--Row 4 End-->
    </div><!-- .container -->
</section>
<!--Skills End-->
<!-- Contact start -->
<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header">
                    <h2 class="pfblock-title">Drop me a line</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                    </div>
                </div>
            </div>
        </div><!-- .row -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form id="contact-form" role="form">
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">Name</label>
                            <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">Email</label>
                            <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                    </div>
                    <div class="ajax-response"></div>
                </form>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Contact end -->
@section Scripts{

    <script type="text/javascript">
/* ---------------------------------------------- /*
 * E-mail validation
/* ---------------------------------------------- */

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    };

    /* ---------------------------------------------- /*
     * Contact form ajax
    /* ---------------------------------------------- */

    $('#contact-form').submit(function (e) {

        e.preventDefault();
        var c_name = $('#c_name').val();
        var c_email = $('#c_email').val();
        var c_message = $('#c_message ').val();
        var response = $('#contact-form .ajax-response');

        if ((c_name == '' || c_email == '' || c_message == '') || (!isValidEmailAddress(c_email))) {
            response.fadeIn(500);
            response.html('<i class="fa fa-warning"></i> Missing key fields! Fix the errors and try again.');
        }

        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendEmail", "Home")',
                data: { name: c_name, email: c_email, message: c_message},
                success: function (result) {
                    response.html(result);
                    $('#c_name').val('');
                    $('#c_email').val('');
                    $('#c_message ').val('');
                }})
        }
        return false;
    });
    </script>
}